@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #003478;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.quisuisje,
.mes-cours,
.tarifs,
.avis,
.contact {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 650px) {
  .fade-in.disable-section {
    opacity: 1;
    transform: translateY(0);
    transition: none;
  }
}
.section__padding {
  padding: 4rem 6rem;
}

@media screen and (max-width: 900px) {
  .section__padding {
    padding: 3rem 5rem;
  }
}
@media screen and (max-width: 500px) {
  .section__padding {
    padding: 3rem 4rem;
  }
}
@media screen and (max-width: 450px) {
  .section__padding {
    padding: 3rem 3rem;
  }
}
.h2 h2 {
  font-size: 45px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 2rem;
  background-color: transparent;
  color: #fff;
}

.header-title {
  font-size: 1.4rem;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-family: "Playfair Display", serif;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
  font-size: 21px;
  border-bottom: 1px solid transparent;
  font-weight: 500;
}

nav a:hover {
  border-bottom: 1px solid grey;
  color: grey;
}

.fullscreen-image {
  width: 100%;
  height: 92vh;
  object-fit: cover;
  z-index: -1;
}

.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -350px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav a {
  padding: 18px 8px 8px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.sidenav.active {
  left: 0;
}

.sidenav .close {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 36px;
}

@media screen and (max-width: 1400px) {
  nav {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 990px) {
  nav a {
    margin-right: 20px;
  }
}
@media screen and (max-width: 865px) {
  .burger-icon span {
    display: flex;
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
  }
  nav {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .fullscreen-image {
    top: 8vh;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}
main button {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
}

/* QUI SUIS-JE */
.quisuisje {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quisuisje .quisuisje__img img {
  height: 75vh;
  border-radius: 5px;
  animation: fadeIn 2s ease-in-out 1 forwards;
  opacity: 0;
}
.quisuisje .quisuisje__txt {
  width: 50%;
  border: 1px solid grey;
  border-radius: 10px;
  height: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 45px;
  padding: 2rem;
  background-color: #A9A9A9;
  color: #fff;
}
.quisuisje .quisuisje__txt h2 {
  font-size: 45px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.quisuisje .quisuisje__txt p {
  margin-top: 5%;
  font-size: 25px;
  text-align: justify;
}

@media screen and (max-width: 1472px) {
  .quisuisje .quisuisje__txt h2 {
    font-size: 42px;
  }
  .quisuisje .quisuisje__txt p {
    font-size: 22px;
  }
}
@media screen and (max-width: 1350px) {
  .quisuisje .quisuisje__txt {
    line-height: 35px;
  }
  .quisuisje .quisuisje__txt h2 {
    font-size: 40px;
  }
  .quisuisje .quisuisje__txt p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1275px) {
  .quisuisje .quisuisje__txt h2 {
    font-size: 38px;
  }
  .quisuisje .quisuisje__txt p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1170px) {
  .quisuisje {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .quisuisje .quisuisje__img img {
    width: 53vw;
    object-fit: cover;
    margin-top: 10%;
    animation: fadeIn 2s ease-in-out 1 forwards;
    opacity: 0;
  }
  .quisuisje .quisuisje__txt {
    width: 53vw;
  }
}
@media screen and (max-width: 825px) {
  .quisuisje {
    justify-content: center;
  }
  .quisuisje .quisuisje__img img {
    width: 53vw;
    height: 60vh;
    object-fit: cover;
  }
  .quisuisje .quisuisje__txt {
    width: 53vw;
    margin-top: 5%;
  }
}
@media screen and (max-width: 750px) {
  .quisuisje .quisuisje__img img {
    width: 65vw;
    height: 75vh;
  }
  .quisuisje .quisuisje__txt {
    width: 65vw;
  }
}
@media screen and (max-width: 700px) {
  .quisuisje .quisuisje__img img {
    width: 70vw;
    height: 65vh;
  }
  .quisuisje .quisuisje__txt {
    width: 70vw;
  }
}
@media screen and (max-width: 550px) {
  .quisuisje .quisuisje__img img {
    width: 70vw;
    height: 60vh;
  }
  .quisuisje .quisuisje__txt {
    width: 70vw;
    line-height: 30px;
  }
  .quisuisje .quisuisje__txt h2 {
    font-size: 34px;
  }
  .quisuisje .quisuisje__txt p {
    margin-top: 10%;
    font-size: 18px;
  }
}
@media screen and (max-width: 475px) {
  .quisuisje .quisuisje__img img {
    width: 70vw;
    height: 55vh;
  }
  .quisuisje .quisuisje__txt {
    width: 70vw;
    line-height: 27px;
  }
  .quisuisje .quisuisje__txt h2 {
    font-size: 32px;
  }
  .quisuisje .quisuisje__txt p {
    font-size: 17px;
  }
}
@media screen and (max-width: 440px) {
  .quisuisje .quisuisje__img img {
    width: 70vw;
    height: 50vh;
  }
  .quisuisje .quisuisje__txt {
    width: 70vw;
    line-height: 27px;
  }
  .quisuisje .quisuisje__txt h2 {
    font-size: 30px;
  }
  .quisuisje .quisuisje__txt p {
    font-size: 16px;
  }
}
@media screen and (max-width: 390px) {
  .header-container .header-title {
    font-size: 18px;
  }
  .quisuisje .quisuisje__img img {
    width: 70vw;
    height: 45vh;
  }
  .quisuisje .quisuisje__txt {
    width: 70vw;
    line-height: 24px;
  }
  .quisuisje .quisuisje__txt h2 {
    font-size: 28px;
  }
  .quisuisje .quisuisje__txt p {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  .header-container .header-title {
    font-size: 16px;
  }
  .quisuisje .quisuisje__img img {
    width: 70vw;
    height: 40vh;
  }
  .quisuisje .quisuisje__txt {
    width: 70vw;
    line-height: 21px;
  }
  .quisuisje .quisuisje__txt h2 {
    font-size: 26px;
  }
  .quisuisje .quisuisje__txt p {
    font-size: 16px;
  }
}
/*Définissez votre élément, qui sera animé*/
.image-transition {
  position: relative;
  top: -250px;
  /*L'image commence en dehors de l'écran */
  transition: top 2s;
  /* Définit la durée de l'animation */
  opacity: 0;
  /* L'image est initialement invisible */
}

/* État final de l'animation */
.image-transition.animate {
  top: 0;
  /* L'image finit à sa position normale */
  opacity: 1;
  /* L'image est maintenant complètement visible */
}

/*  carroussel */
.carousel {
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.slide.active {
  opacity: 1;
}

/* MES COURS */
.mes-cours {
  display: flex;
  flex-direction: column;
  background-color: #C60C30;
}
.mes-cours .mes-cours__txt {
  font-size: 25px;
  text-align: center;
  margin-bottom: 4rem;
}
.mes-cours .mes-cours__img {
  display: flex;
  justify-content: center;
  height: 65vh;
}
.mes-cours .mes-cours__img img {
  border-radius: 10px;
  width: 52vw;
  animation: fadeIn 2s ease-in-out 1 forwards;
  opacity: 0;
}

@media screen and (max-width: 1400px) {
  .mes-cours h2 {
    font-size: 42px;
  }
  .mes-cours .mes-cours__img {
    height: 60vh;
  }
}
@media screen and (max-width: 1150px) {
  .mes-cours h2 {
    font-size: 40px;
  }
  .mes-cours .mes-cours__img {
    height: 55vh;
  }
  .mes-cours .mes-cours__txt {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .mes-cours .mes-cours__img img {
    width: 60vw;
  }
}
@media screen and (max-width: 860px) {
  .mes-cours .mes-cours__img {
    height: 52vh;
  }
  .mes-cours .mes-cours__img img {
    width: 65vw;
  }
}
@media screen and (max-width: 750px) {
  .mes-cours .mes-cours__img {
    height: 50vh;
  }
  .mes-cours .mes-cours__img img {
    width: 68vw;
  }
  .mes-cours .mes-cours__txt {
    font-size: 20.5px;
  }
}
@media screen and (max-width: 650px) {
  .mes-cours .mes-cours__img {
    height: 49vh;
  }
  .mes-cours .mes-cours__img img {
    width: 70vw;
  }
}
@media screen and (max-width: 585px) {
  .mes-cours .mes-cours__img {
    height: 43vh;
  }
  .mes-cours .mes-cours__img img {
    width: 70vw;
  }
}
@media screen and (max-width: 500px) {
  .mes-cours .mes-cours__img {
    height: 40vh;
  }
  .mes-cours .mes-cours__txt {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .mes-cours .mes-cours__img {
    height: 35vh;
  }
}
@media screen and (max-width: 400px) {
  .mes-cours .mes-cours__img {
    height: 33vh;
  }
  .mes-cours .mes-cours__txt {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  .mes-cours .mes-cours__img {
    height: 28vh;
  }
  .mes-cours .mes-cours__txt {
    font-size: 15px;
  }
}
/* TARIFS */
.tarifs .tarifs__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tarifs .tarifs__container .tarifs__bloc {
  width: 35%;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #E4E2E2;
  border-radius: 5px;
  outline: none;
}
.tarifs .tarifs__container .tarifs__bloc h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.tarifs .tarifs__container .tarifs__bloc p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tarifs .tarifs__container .tarifs__bloc .prix {
  margin-bottom: 0;
}
.tarifs .tarifs__container .tarifs__bloc .prix-avec-deduction {
  color: green;
  /* Choisissez la couleur qui vous convient */
  font-weight: bold;
  /* Mettez en gras pour attirer l'attention */
}
.tarifs .tarifs__container .tarifs__bloc .prix-avec-deduction span {
  text-decoration: underline;
  /* Soulignez le prix après déduction pour le rendre plus visible */
}
.tarifs .tarifs__container .tarifs__bloc button {
  width: max-content;
  background-color: #a1c862;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}
.tarifs .tarifs__container .tarifs__bloc button:hover {
  background-color: #818181;
  color: #fff;
}
.tarifs .tarifs__container .bloc1 {
  border: 5px solid #343A40;
}
.tarifs .tarifs__container .bloc2 {
  border: 5px solid #343A40;
}
.tarifs .tarifs__container .bloc3 {
  border: 5px solid #343A40;
}
.tarifs .tarifs__container .bloc4 {
  border: 5px solid #343A40;
}
.tarifs .tarifs__container .bloc5 {
  border: 5px solid #343A40;
}

@media screen and (max-width: 1000px) {
  .tarifs .tarifs__container .tarifs__bloc {
    width: 38%;
  }
}
@media screen and (max-width: 900px) {
  .tarifs .tarifs__container .tarifs__bloc {
    width: 42%;
  }
}
@media screen and (max-width: 750px) {
  .tarifs .tarifs__container .tarifs__bloc {
    width: 44%;
  }
}
@media screen and (max-width: 695px) {
  .tarifs .tarifs__container .tarifs__bloc {
    width: 100%;
  }
}
/* AVIS */
.avis {
  background-color: #C60C30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avis .carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
.avis .carousel p {
  width: 100%;
  font-size: 24px;
}
.avis .carousel__slide {
  width: 100%;
  display: none;
}
.avis .carousel__slide.active {
  display: block;
  height: 15vh;
  display: flex;
  align-items: center;
}
.avis .voir-tout a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .avis .carousel .carousel__slide.active {
    height: 25vh;
  }
}
@media screen and (max-width: 650px) {
  .avis .carousel .carousel__slide.active {
    height: 30vh;
  }
}
@media screen and (max-width: 600px) {
  .avis .carousel p {
    font-size: 22px;
  }
}
@media screen and (max-width: 500px) {
  .avis .carousel p {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .avis .carousel .carousel__slide.active {
    height: 40vh;
  }
}
@media screen and (max-width: 350px) {
  .avis .carousel .carousel__slide.active {
    height: 50vh;
  }
}
/* CONTACT */
.contact {
  margin-bottom: 2rem;
}
.contact form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8vh;
}
.contact form label {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 500;
}
.contact form .nom-prenom {
  width: 45%;
}
.contact form .email {
  width: 45%;
}
.contact form .message {
  width: 100%;
  margin-top: 2vh;
}
.contact form input {
  height: 65px;
  margin-top: 1vh;
}
.contact form textarea {
  height: 120px;
  margin-top: 1vh;
}
.contact form button {
  margin-top: 4vh;
  height: 65px;
  width: 25vw;
  color: #515252;
  background-color: #CFD0D0;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.contact form button:hover {
  background-color: #49463f;
  color: #FFFFFF;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  color: #000;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .contact form button {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .contact form button {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .contact form .nom-prenom {
    width: 100%;
  }
  .contact form .email {
    margin-top: 2vh;
    width: 100%;
  }
  .contact form label {
    font-size: 20px;
  }
  .contact form button {
    width: 50vw;
    font-size: 20px;
  }
}
@media screen and (max-width: 515px) {
  .contact form label {
    font-size: 18px;
  }
  .contact form button {
    width: 100%;
    font-size: 18px;
  }
}
@media screen and (max-width: 462px) {
  .contact form label {
    font-size: 17px;
  }
  .contact form button {
    font-size: 17px;
  }
}
/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #343A40;
  text-align: center;
  padding: 1.5rem 0;
}
footer a {
  text-decoration: none;
  color: #a1c862;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
footer a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

@media (max-width: 980px) {
  .calendly-badge-widget {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
