@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.quisuisje,
.mes-cours,
.tarifs,
.avis,
.contact {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 650px) {
  .fade-in.disable-section {
    opacity: 1;
    transform: translateY(0);
    transition: none;
  }
}
.section__padding {
  padding: 4rem 6rem;
}

@media screen and (max-width: 900px) {
  .section__padding {
    padding: 3rem 5rem;
  }
}
@media screen and (max-width: 500px) {
  .section__padding {
    padding: 3rem 4rem;
  }
}
@media screen and (max-width: 450px) {
  .section__padding {
    padding: 3rem 3rem;
  }
}
.h2 h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 2rem;
  background-color: transparent;
  color: #fff;
}

.logo {
  height: 100%;
}
.logo img {
  margin-top: 1rem;
  width: 148px;
  height: 148px;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
  font-size: 21px;
  border-bottom: 1px solid transparent;
  font-weight: 500;
}

nav a:hover {
  color: grey;
}

header {
  position: relative;
  z-index: 1;
  height: 100vh;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url("../img/home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(55%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-container {
  position: relative;
  z-index: 2;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.62) 39.06%, rgba(0, 0, 0, 0.31) 78.12%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.sidenav {
  height: 100%;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100vw;
  background-color: #fff;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav a {
  padding: 20px 8px 8px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.sidenav.active {
  left: 0;
}

.sidenav .close {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 36px;
}

@media screen and (max-width: 1400px) {
  nav {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 1200px) {
  header {
    height: 80vh;
  }
}
@media screen and (max-width: 990px) {
  nav a {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1100px) {
  nav a {
    margin-right: 20px;
  }
}
@media screen and (max-width: 950px) {
  header {
    height: 65vh;
  }
  .burger-icon span {
    display: flex;
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
  }
  nav {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  header .logo img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 650px) {
  header {
    height: 45vh;
  }
}
@media screen and (max-width: 550px) {
  header {
    height: 35vh;
  }
}
@media screen and (max-width: 500px) {
  header .logo img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 450px) {
  header .header-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  header {
    height: 30vh;
  }
  header .header-title {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  header {
    height: 25vh;
  }
  header .logo img {
    width: 70px;
    height: 70px;
  }
  .header-title {
    font-size: 14.5px;
  }
}
@media screen and (max-width: 325px) {
  header {
    height: 22vh;
  }
  .header-title {
    font-size: 12px;
    padding-right: 1rem;
  }
}
main button {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
}

/* QUI SUIS-JE */
.quisuisje {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  height: fit-content;
}
.quisuisje .quisuisje__img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.quisuisje .quisuisje__img img {
  width: 628px;
  height: 449px;
}
.quisuisje .quisuisje__txt {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.quisuisje .quisuisje__txt h2 {
  font-size: 35px;
  margin-bottom: 1rem;
}
.quisuisje .quisuisje__txt p {
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 1600px) {
  .quisuisje .quisuisje__txt p {
    font-size: 18px;
  }
  .quisuisje .quisuisje__img img {
    width: 528px;
    height: 400px;
  }
}
@media screen and (max-width: 1300px) {
  .quisuisje .quisuisje__txt p {
    font-size: 16px;
  }
  .quisuisje .quisuisje__img img {
    width: 428px;
    height: 325px;
  }
}
@media screen and (max-width: 1100px) {
  .quisuisje {
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 0;
  }
  .quisuisje .quisuisje__txt {
    width: 100%;
  }
  .quisuisje .quisuisje__txt p {
    margin-top: 1rem;
    font-size: 16px;
    text-align: justify;
  }
  .quisuisje .quisuisje__txt h2 {
    text-align: center;
  }
  .quisuisje .quisuisje__img {
    width: 100%;
    justify-content: center;
    margin-top: 4rem;
  }
  .quisuisje .quisuisje__img img {
    width: 628px;
    height: 449px;
  }
}
@media screen and (max-width: 800px) {
  .quisuisje .quisuisje__img img {
    width: 528px;
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  .quisuisje .quisuisje__img img {
    width: 428px;
    height: 325px;
  }
}
@media screen and (max-width: 600px) {
  .quisuisje .quisuisje__img img {
    width: 100%;
    height: 285px;
  }
}
@media screen and (max-width: 530px) {
  .quisuisje .quisuisje__img img {
    width: 100%;
    height: 225px;
  }
}
@media screen and (max-width: 410px) {
  .quisuisje .quisuisje__img img {
    width: 100%;
    height: 205px;
  }
}
@media screen and (max-width: 375px) {
  .quisuisje .quisuisje__img img {
    width: 100%;
    height: 180px;
  }
}
@media screen and (max-width: 330px) {
  .quisuisje .quisuisje__img img {
    width: 100%;
    height: 160px;
  }
}
/*Définissez votre élément, qui sera animé*/
.image-transition {
  position: relative;
  top: -250px;
  /*L'image commence en dehors de l'écran */
  transition: top 2s;
  /* Définit la durée de l'animation */
  opacity: 0;
  /* L'image est initialement invisible */
}

/* État final de l'animation */
.image-transition.animate {
  top: 0;
  /* L'image finit à sa position normale */
  opacity: 1;
  /* L'image est maintenant complètement visible */
}

/*  carroussel */
.carousel {
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.slide.active {
  opacity: 1;
}

/* MES COURS */
.mescours {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  height: fit-content;
}
.mescours .mescours__img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mescours .mescours__img img {
  width: 628px;
  height: 449px;
}
.mescours .mescours__txt {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mescours .mescours__txt h2 {
  font-size: 35px;
  margin-bottom: 1rem;
}
.mescours .mescours__txt p {
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 1600px) {
  .mescours .mescours__txt p {
    font-size: 18px;
  }
  .mescours .mescours__img img {
    width: 528px;
    height: 400px;
  }
}
@media screen and (max-width: 1300px) {
  .mescours .mescours__txt p {
    font-size: 16px;
  }
  .mescours .mescours__img img {
    width: 428px;
    height: 325px;
  }
}
@media screen and (max-width: 1100px) {
  .mescours {
    flex-direction: column-reverse;
    margin-top: 2rem;
    padding-top: 0;
  }
  .mescours .mescours__txt {
    width: 100%;
  }
  .mescours .mescours__txt p {
    margin-top: 1rem;
    font-size: 16px;
    text-align: justify;
  }
  .mescours .mescours__txt h2 {
    text-align: center;
  }
  .mescours .mescours__img {
    width: 100%;
    justify-content: center;
    margin-top: 4rem;
  }
  .mescours .mescours__img img {
    width: 628px;
    height: 449px;
  }
}
@media screen and (max-width: 800px) {
  .mescours .mescours__img img {
    width: 528px;
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  .mescours .mescours__img img {
    width: 428px;
    height: 325px;
  }
}
@media screen and (max-width: 600px) {
  .mescours .mescours__img img {
    width: 100%;
    height: 285px;
  }
}
@media screen and (max-width: 530px) {
  .mescours .mescours__img img {
    width: 100%;
    height: 225px;
  }
}
@media screen and (max-width: 410px) {
  .mescours .mescours__img img {
    width: 100%;
    height: 205px;
  }
}
@media screen and (max-width: 375px) {
  .mescours .mescours__img img {
    width: 100%;
    height: 180px;
  }
}
@media screen and (max-width: 330px) {
  .mescours .mescours__img img {
    width: 100%;
    height: 160px;
  }
}
/* LA SALLE */
.lasalle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  height: 584px;
}
.lasalle .lasalle__txt {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.lasalle .lasalle__txt h2 {
  font-size: 35px;
  margin-bottom: 1rem;
}
.lasalle .lasalle__txt p {
  font-size: 20px;
  text-align: justify;
}
.lasalle .lasalle__container-img {
  width: 42%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.lasalle .lasalle__container-img .lasalle-photos1-2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 1rem;
}
.lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo1 {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo1 img {
  width: 235px;
  height: 190px;
}
.lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo2 {
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo2 img {
  width: 235px;
  height: 190px;
}
.lasalle .lasalle__container-img .lasalle-photo3 {
  height: 100%;
  width: 275px;
}
.lasalle .lasalle__container-img .lasalle-photo3 img {
  width: 275px;
  height: 400px;
}

@media screen and (max-width: 1600px) {
  .lasalle .lasalle__txt p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1400px) {
  .lasalle .lasalle__txt {
    flex-wrap: wrap;
    width: 600px;
  }
}
@media screen and (max-width: 1340px) {
  .lasalle .lasalle__txt {
    width: 500px;
  }
}
@media screen and (max-width: 1230px) {
  .lasalle .lasalle__txt {
    width: 450px;
  }
}
@media screen and (max-width: 1185px) {
  .lasalle .lasalle__txt {
    width: 400px;
  }
}
@media screen and (max-width: 1135px) {
  .lasalle .lasalle__txt {
    width: 350px;
  }
}
@media screen and (max-width: 1100px) {
  .lasalle {
    flex-direction: column;
    height: fit-content;
  }
  .lasalle .lasalle__txt {
    width: 100%;
    margin-bottom: 4rem;
  }
  .lasalle .lasalle__txt h2 {
    text-align: center;
  }
  .lasalle .lasalle__txt p {
    margin-top: 1rem;
  }
  .lasalle .lasalle__container-img {
    justify-content: center;
    width: 100%;
  }
  .lasalle .lasalle__container-img .lasalle-photos1-2 {
    width: 50%;
    justify-content: flex-start;
  }
  .lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo1 img {
    width: 275px;
  }
  .lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo2 img {
    width: 275px;
  }
  .lasalle .lasalle__container-img .lasalle-photo3 {
    width: 50%;
  }
}
@media screen and (max-width: 715px) {
  .lasalle .lasalle__container-img {
    flex-direction: column;
    height: fit-content;
  }
  .lasalle .lasalle__container-img .lasalle-photos1-2 {
    justify-content: center;
    width: 100%;
  }
  .lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo1 {
    width: 100%;
    justify-content: center;
  }
  .lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo2 {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }
  .lasalle .lasalle__container-img .lasalle-photo3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 390px) {
  .lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo1 img {
    width: 100%;
  }
  .lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo2 img {
    width: 100%;
  }
  .lasalle .lasalle__container-img .lasalle-photo3 img {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo1 img {
    height: 170px;
  }
  .lasalle .lasalle__container-img .lasalle-photos1-2 .lasalle-photo2 img {
    height: 170px;
  }
  .lasalle .lasalle__container-img .lasalle-photo3 img {
    height: 330px;
  }
}
/* TARIFS */
.tarifs .tarifs__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tarifs .tarifs__container .tarifs__bloc {
  width: 500px;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #E4E2E2;
  border-radius: 35px;
  outline: none;
}
.tarifs .tarifs__container .tarifs__bloc h3 {
  color: #8190DD;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.tarifs .tarifs__container .tarifs__bloc p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}
.tarifs .tarifs__container .tarifs__bloc .infos-prix-duree {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}
.tarifs .tarifs__container .tarifs__bloc .infos-prix-duree .prix {
  border: 2px solid #2D4189;
  border-radius: 10px;
  height: 100%;
  width: 29%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tarifs .tarifs__container .tarifs__bloc .infos-prix-duree .duree {
  border-radius: 10px;
  border: 2px solid #2D4189;
  height: 100%;
  width: 69%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tarifs .tarifs__container .tarifs__bloc .infos-prix-duree-groupe {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}
.tarifs .tarifs__container .tarifs__bloc .infos-prix-duree-groupe p {
  font-size: 14px;
}
.tarifs .tarifs__container .tarifs__bloc .infos-prix-duree-groupe .prix {
  border: 2px solid #2D4189;
  border-radius: 10px;
  height: 100%;
  width: 29%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tarifs .tarifs__container .tarifs__bloc .infos-prix-duree-groupe .duree {
  border-radius: 10px;
  border: 2px solid #2D4189;
  height: 100%;
  width: 69%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tarifs .tarifs__container .tarifs__bloc .deduction {
  font-weight: 200;
}
.tarifs .tarifs__container .tarifs__bloc button {
  width: max-content;
  background-color: #2D4189;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}
.tarifs .tarifs__container .tarifs__bloc button:hover {
  background-color: #a1c862;
  color: #fff;
}
.tarifs .tarifs__container .tarifs__bloc .tarif-groupe {
  margin-top: 2rem;
}
.tarifs .tarifs__container .bloc1 {
  border: 5px solid #343A40;
}
.tarifs .tarifs__container .bloc2 {
  border: 5px solid #343A40;
}
.tarifs .tarifs__container .bloc3 {
  border: 5px solid #343A40;
}
.tarifs .tarifs__container .bloc4 {
  border: 5px solid #343A40;
}
.tarifs .tarifs__container .bloc5 {
  border: 5px solid #343A40;
}

@media screen and (max-width: 695px) {
  .tarifs .tarifs__container .tarifs__bloc {
    width: 100%;
  }
  .tarifs .tarifs__container .bloc5 .infos-prix-duree-groupe {
    height: 60px;
  }
}
@media screen and (max-width: 575px) {
  .tarifs .tarifs__container .tarifs__bloc {
    width: 100%;
  }
  .tarifs .tarifs__container .tarifs__bloc .infos-prix-duree {
    height: fit-content;
  }
  .tarifs .tarifs__container .bloc5 .infos-prix-duree-groupe {
    height: 80px;
  }
}
@media screen and (max-width: 450px) {
  .tarifs .tarifs__container .tarifs__bloc .infos-prix-duree {
    flex-direction: column;
    height: fit-content;
  }
  .tarifs .tarifs__container .tarifs__bloc .infos-prix-duree .prix {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .tarifs .tarifs__container .tarifs__bloc .infos-prix-duree .duree {
    width: 100%;
  }
  .tarifs .tarifs__container .tarifs__bloc .infos-prix-duree-groupe {
    flex-direction: column;
    height: fit-content;
  }
  .tarifs .tarifs__container .tarifs__bloc .infos-prix-duree-groupe .prix {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .tarifs .tarifs__container .tarifs__bloc .infos-prix-duree-groupe .duree {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .tarifs .tarifs__container .tarifs__bloc {
    margin-right: 0;
    margin-left: 0;
  }
  .tarifs .tarifs__container .tarifs__bloc button {
    width: 100%;
    font-size: 16px;
  }
}
/* AVIS */
.avis {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avis .carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}
.avis .carousel p {
  width: 100%;
  font-size: 24px;
}
.avis .carousel__slide {
  width: 100%;
  display: none;
}
.avis .carousel__slide.active {
  display: block;
  height: 20vh;
  display: flex;
  align-items: center;
}
.avis .voir-tout a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .avis .carousel .carousel__slide.active {
    height: 30vh;
  }
}
@media screen and (max-width: 775px) {
  .avis .carousel .carousel__slide.active {
    height: 40vh;
  }
}
@media screen and (max-width: 650px) {
  .avis .carousel .carousel__slide.active {
    height: 45vh;
  }
}
@media screen and (max-width: 600px) {
  .avis .carousel p {
    font-size: 22px;
  }
}
@media screen and (max-width: 550px) {
  .avis .carousel .carousel__slide.active {
    height: 50vh;
  }
}
@media screen and (max-width: 500px) {
  .avis .carousel p {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .avis .carousel .carousel__slide.active {
    height: 55vh;
  }
}
@media screen and (max-width: 350px) {
  .avis .carousel .carousel__slide.active {
    height: 60vh;
  }
}
@media screen and (max-width: 325px) {
  .avis .carousel .carousel__slide.active {
    height: 70vh;
  }
}
@media screen and (max-width: 295px) {
  .avis .carousel .carousel__slide.active {
    height: 75vh;
  }
}
/* CONTACT */
.contact {
  margin-bottom: 2rem;
}
.contact form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8vh;
}
.contact form label {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 500;
}
.contact form .nom-prenom {
  width: 45%;
}
.contact form .email {
  width: 45%;
}
.contact form .message {
  width: 100%;
  margin-top: 2vh;
}
.contact form input {
  height: 65px;
  margin-top: 1vh;
  border: 2px solid #2D4189;
  padding-left: 5px;
}
.contact form input::placeholder {
  color: black;
  padding-left: 5px;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
}
.contact form textarea {
  height: 120px;
  margin-top: 1vh;
  border: 2px solid #2D4189;
  padding-top: 15px;
  padding-left: 7.5px;
}
.contact form textarea::placeholder {
  color: black;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
}
.contact form button {
  margin-top: 4vh;
  height: 65px;
  width: 15vw;
  color: #fff;
  background-color: #2D4189;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.contact form button:hover {
  background-color: #a1c862;
  color: #FFFFFF;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  color: #000;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .contact form button {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .contact form button {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .contact form .nom-prenom {
    width: 100%;
  }
  .contact form .email {
    margin-top: 2vh;
    width: 100%;
  }
  .contact form label {
    font-size: 20px;
  }
  .contact form button {
    width: 50vw;
    font-size: 20px;
  }
}
@media screen and (max-width: 515px) {
  .contact form label {
    font-size: 18px;
  }
  .contact form button {
    width: 100%;
    font-size: 18px;
  }
}
@media screen and (max-width: 462px) {
  .contact form label {
    font-size: 17px;
  }
  .contact form button {
    font-size: 17px;
  }
}
/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #797E85;
  text-align: center;
  padding: 1.5rem 0;
  color: #2D4189;
  font-weight: 500;
  padding: 2rem 6rem;
}
footer a {
  text-decoration: none;
  color: #a1c862;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
footer a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

@media (max-width: 980px) {
  .calendly-badge-widget {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  footer {
    padding: 2rem 5rem;
  }
}
@media screen and (max-width: 500px) {
  footer {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 450px) {
  footer {
    padding: 2rem 3rem;
  }
}

/*# sourceMappingURL=output.css.map */
